In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
os.chdir(os.path.dirname(os.getcwd()))

In [3]:
import pandas as pd
import numpy as np

from src.model.similarity import Similarity_Score

from sklearn.preprocessing import StandardScaler
from sklearn.metrics.pairwise import cosine_similarity

pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [4]:
path = "data"

In [5]:
sim = Similarity_Score(path=path)

/Users/ritisha/projects/simple_recommendation/src/model/similarity.py:9: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  self.similarity_score = pd.read_csv(self.path + "/features/item_similarity.csv")
/Users/ritisha/projects/simple_recommendation/src/model/similarity.py:10: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  self.user_feat_df = pd.read_csv(self.path + "/features/feat_data.csv")

In [6]:
sim.predict(user_id=278854)

Top recommendations based on your reading history:

,isbn,book_title,book_author,book_rating_mean,book_rating_count,user_item_similarity
40,0553380400,Bingo,Rita Mae Brown,2.50,12.00,0.56
50,0515124796,Cold Blood,Lynda LA Plante,3.46,13.00,0.39
77,1551664844,Breaking the Silence,Diane Chamberlain,1.38,13.00,0.37
102,055356949X,Dolley: A Novel of Dolley Madison in Love and War,Rita Mae Brown,1.50,10.00,0.34
90,0515090166,The Cat Who Saw Red,Lilian Jackson Braun,2.32,59.00,0.29
67,1551666472,Cypress Point,Diane Chamberlain,4.00,10.00,0.28

In [7]:
#Cold start problem: User has not had any book interactions
sim.predict(user_id="278853")

Top rated books for you to get started:

,isbn,book_title,book_author,book_rating_mean,book_rating_count,book_rating_weighted
90935,0316666343,The Lovely Bones: A Novel,Alice Sebold,4.47,1295.00,0.23
547971,0385504209,The Da Vinci Code,Dan Brown,4.65,883.00,0.16
904862,0312195516,The Red Tent (Bestselling Backlist),Anita Diamant,4.33,723.00,0.13
924096,0679781587,NaN,NaN,4.38,639.00,0.11
288468,059035342X,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,4.90,571.00,0.11
1186504,0142001740,The Secret Life of Bees,Sue Monk Kidd,4.22,615.00,0.10